body {
  font-family: Biennale;
  src: url(../DISLEXIA/Fonts/Principal/biennale-black.otf);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
